[submodule "mdot-library"]
	path = mdot-library
	url = ssh://sw.multitech.prv/git/mbed/mdot-library.git
[submodule "libs/MTS-Serial"]
	path = libs/MTS-Serial
	url = ssh://sw.multitech.prv/git/mbed/MTS-Serial.git
